# Project 1.

## Deadline: April 23, 22:00 ```Ավելի ուշ ուղարկված աշխատանքներ չեն ընդունվի։```


```
Complete all the tasks in the jupyter notebook and name it name_last-name_project1.ipynb. Send me a zip file called name_last-name_project1 containing 2 files: the csv file with the data that you have scrapped in Task 1 and the jupyter notebook. 
Send the zip file to my email: shahanearushanyan@gmail.com
```

```
Կատարեք բոլոր առաջադրանքները jupyter notebook-ում և անվանեք այն name_last-name_project1.ipynb. Ուղարկեք ինձ zip ֆայլ name_last-name_project1 անունով, որը կպարունակի 2 ֆայլ՝ scrap արված տվյալներով csv ֆայլը և jupyter notebook-ը։ 
Ուղարկեք zip ֆայլն իմ mail-ին՝ shahanearushanyan@gmail.com
```

## Task 1.

```
Scrap Amazon to get data for their best seller books. Get title, author, rating, number of users rated and price information for all available pages of products. (e.g. if there are 10 pages of best seller books, you need to scrap all the pages, not just the first page). Create a pandas dataframe and keep the scrapped information inside the dataframe, in separate columns.
```

```
Scrap արեք Amazon-ի կայքը և ստացեք best seller (լավագույն վաճառվող) գրքերի տվյալները։ Ստացեք վերնագիր, հեղինակ, գնահատական, գնահատող օգտատերերի քանակ և գին բոլոր հասանելի էջերի գրքերի համար։ (Օրինակ՝ եթե կա 10 էջ, ապա պետք է ստանաք բոլոր 10 էջերում տեղ գտած ինֆորմացիան)։ Ստեղծեք pandas dataframe աղյուսակ և այնտեղ պահեք Ձեր ստացած տվյալներն առանձին սյուներով։  
```

In [171]:
import numpy as np
import pandas as pd
from urllib.request import urlopen
from bs4 import BeautifulSoup
import requests
import unicodedata2
import re

In [172]:
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.71 Safari/537.36'}

data_list = []


for pagenum in range(1, 3):
    
    r = requests.get("https://www.amazon.com/best-sellers-books-Amazon/zgbs/books/ref=zg_bs_pg_"+str(pagenum)+"?_encoding=UTF8&pg="+str(pagenum), headers=headers)
    content = r.content
    soup = BeautifulSoup(content)
    s = soup.find('div', attrs = {'id':"zg-center-div"})
    
    for d in s.findAll('li', attrs={'class': 'zg-item-immersion'}):
        title = d.find('a', attrs = {'class': 'a-link-normal'},).text.strip()
        author = d.find('div', attrs = {'class': 'a-row a-size-small'},).text.strip()
        price = d.find('span', attrs = {'class': 'p13n-sc-price'},).text.strip()
        try:
            rating = d.find('div', attrs = {'class': 'a-icon-row a-spacing-none'},).text.strip()
            num_users_rated = d.find('a', attrs = {'class': 'a-size-small a-link-normal'},).text.strip()
            
            data_list.append([title, author, price, rating, num_users_rated])
            
        except:
            data_list.append([title, author, price])

In [173]:
df = pd.DataFrame(data_list , columns = ["title","author","price", "rating" , "num_users_rated"])
df.head()

,title,author,price,rating,num_users_rated
0,Shadow and Bone (Grisha Trilogy),Leigh Bardugo,$7.59,"4.4 out of 5 stars\n\n8,083","8,083"
1,World Travel: An Irreverent Guide,Anthony Bourdain,$21.00,3.9 out of 5 stars\n\n96,96
2,The Shadow and Bone Trilogy Boxed Set: Shadow ...,Leigh Bardugo,$35.89,"4.7 out of 5 stars\n\n3,785","3,785"
3,How to Be Human: An Autistic Man's Guide to Life,Jory Fleming,$16.09,4.0 out of 5 stars\n\n1,1
4,The Midnight Library: A Novel,Matt Haig,$13.29,"4.4 out of 5 stars\n\n62,086","62,086"

In [174]:
df.isnull().sum()

title              0
author             0
price              0
rating             9
num_users_rated    9
dtype: int64

In [175]:
df1 = df.dropna(how = "any")

In [176]:
df1.isnull().sum()

title              0
author             0
price              0
rating             0
num_users_rated    0
dtype: int64

In [177]:
for i in df1.index:
    df1["rating"][i] = df1["rating"][i][0:3]

D:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3331: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [178]:
df1.head()

,title,author,price,rating,num_users_rated
0,Shadow and Bone (Grisha Trilogy),Leigh Bardugo,$7.59,4.4,"8,083"
1,World Travel: An Irreverent Guide,Anthony Bourdain,$21.00,3.9,96
2,The Shadow and Bone Trilogy Boxed Set: Shadow ...,Leigh Bardugo,$35.89,4.7,"3,785"
3,How to Be Human: An Autistic Man's Guide to Life,Jory Fleming,$16.09,4.0,1
4,The Midnight Library: A Novel,Matt Haig,$13.29,4.4,"62,086"

## Task 2.

```
Create classes Library and Book using the skeleton below and following function descriptions.
Then use the data you got from Task 1., create an object of type Library and fill it with a list
of objects of type Book. Test all the methods that you have implemented.
```

```
Ստեղծեք Library և Book class-երը՝ օգտագործելով տրված կմախքն ու հետևելով ֆունկցիաների նկարագրություններին։ Այնուհետև օգտագործեք Task 1.-ում ստացված տվյալները, ստեղծեք Library տիպի օբյեկտ լցված գիրք տիպի օբյեկտներով։ Փորձարկեք Ձեր գրած բոլոր ֆունկցիաները։ 
```

In [235]:
class Book:
    
    def __init__(self, title, author, price,  rating, num_users_rated):
        
        self.title = title
        self.author = author
        self.rating = rating
        self.num_users_rated = num_users_rated
        self.price = price
        
        pass
    
    def pretty_print(self):
        
        print(self.title," by ",self.author," with rating " , self.rating ," costs ",self.price)
        pass
    
    def rating_eval(self):
       
        if self.num_users > 5000:
            return "statistically significant rating"
        else:
            return "not statistically significant rating"
        
        pass

In [236]:
title0 = df[0:1]["title"][0]
author0 = df[0:1]["author"][0]
price0 = df[0:1]["price"][0]
rating0 = df[0:1]["rating"][0]
num_users0 = df[0:1]["num_users_rated"][0]

In [237]:
book0 = Book(title0,author0,price0,rating0,num_users0)

In [240]:
book0.pretty_print()

Shadow and Bone (Grisha Trilogy)  by  Leigh Bardugo  with rating  4.4 out of 5 stars

8,083  costs  $7.59

In [241]:
df1_top = df1.groupby(["rating"]).max()[::-1]

In [242]:
df1_top[:5]

,title,author,price,num_users_rated
rating,,,,
5.0,Woman Evolve: Break Up with Your Fears and Rev...,T. D. Jakes,$7.99,74
4.9,The Women of the Bible Speak: The Wisdom of 16...,Voddie T. Baucham Jr.,$9.72,947
4.8,Where the Crawdads Sing,Workman Publishing,$9.98,970
4.7,Think and Grow Rich: The Landmark Bestseller N...,Walter Isaacson,$9.59,"9,569"
4.6,We Were Liars,Wonder House Books,$9.91,"9,547"

In [243]:
df1_top.index[0]

'5.0'

In [244]:
class Library:
    
    def __init__(self,df):
        """
        Create an attribute of type list called Book_list which will be an empty list for now.
        
        Ստեղծեք list տիպի Book_list attribute-ը, որն առայժմ կլինի դատարկ list 
        """
        self.Book_list = []
        self.df = df 
        pass
    
    def get_top_5(self):
        """
        Return the information related to 5 books that have the highest rating using the method pretty_print.
        If there are more than 5 books with the same rating, randomly select and show only 5 of them.
        
        Վերադարձրեք 5 ամենաբարձր գնահատական ունեցող գրքերի վերաբերյալ ինֆորմացիա՝ օգտվելով pretty_print
        ֆունկցիայից։ Եթե այդպիսի գրքերը 5-ից ավելի են՝ պատահականության սկզբունքով ընտրեք դրանցից 5-ը։
        """
       
    
        df_top = self.df.groupby(["rating"]).max()[::-1]
        index_r = df_top.index
        
        title0 = df_top[0:1]["title"][0]
        author0 = df_top[0:1]["author"][0]
        price0 = df_top[0:1]["price"][0]
        rating0 = index_r[0]
        num_users0 = df_top[0:1]["num_users_rated"][0]
        book0 = Book(title0,author0,price0,rating0,num_users0)
        book0.pretty_print()
        print("------------------------------------------------------")
        title1 = df_top[1:2]["title"][0]
        author1 = df_top[1:2]["author"][0]
        price1 = df_top[1:2]["price"][0]
        rating1 = index_r[1]
        num_users1 = df_top[1:2]["num_users_rated"][0]
        book1 = Book(title1,author1,price1,rating1,num_users1)
        book1.pretty_print()
        print("------------------------------------------------------")
        title2 = df_top[2:3]["title"][0]
        author2 = df_top[2:3]["author"][0]
        price2 = df_top[2:3]["price"][0]
        rating2 = index_r[2]
        num_users2 = df_top[2:3]["num_users_rated"][0]
        book2 = Book(title2,author2,price2,rating2,num_users2)
        book2.pretty_print()
        print("------------------------------------------------------")
        title3 = df_top[3:4]["title"][0]
        author3 = df_top[3:4]["author"][0]
        price3 = df_top[3:4]["price"][0]
        rating3 = index_r[3]
        num_users3 = df_top[3:4]["num_users_rated"][0]
        book3 = Book(title3,author3,price3,rating3,num_users3)
        book3.pretty_print()
        print("------------------------------------------------------")
        title4 = df_top[4:5]["title"][0]
        author4 = df_top[4:5]["author"][0]
        price4 = df_top[4:5]["price"][0]
        rating4 = index_r[4]
        num_users4 = df_top[4:5]["num_users_rated"][0]
        book4 = Book(title4,author4,price4,rating4,num_users4)
        book4.pretty_print()
        
        
        
        
        
    def simple_search(self, title):
        """
        Search a book with required title and print information related to all books with titles exactly 
        matching the searched title using the method pretty_print.
        
        Search արեք տրված վերնագրով գիրք (գրքեր) և վերադարձրեք այդ գրքի (գրքերի) մասին ինֆորմացիան՝ օգտվելով 
        pretty_print ֆունկցիայից։ Վերադարձված գրքերի վերնագրերը պետք է համընկնեն title փոփոխականի արժեքի հետ
        """
        pass
    
    def complex_search(self, title):
        """
        In this case the user may not remember the exact title of the book. If you have a book(s) with 
        title exactly matching the searched title, this method should perform just like the method simple_search.
        Otherwise, if you don't have any books with the searched title, you should return book(s) that have the
        most similar titles. You are free to implement this method however you like. 
        One version that you can implement in case you don't have other ideas:
        return the book(s) with titles containing the most number of words from the searched title 
        (return the information using the method pretty_print), and if there are no such books, 
        return "nothing macthed your search".
        I would be happy to see any other interesting versions of the method :)
        
        
        Այս դեպքում օգտատերը միգուցե չհիշի գրքի կոնկրետ անվանումը կամ այն մի փոքր սխալ հիշի։ Եթե կա գիրք (գրքեր)
        որոնց վերնագիրը համընկնում է title փոփոխականի արժեքի հետ, ապա վերադարձրեք այդ գրքին (գրքերին) 
        վերաբերող ինֆորմացիան՝ օգտվելով pretty_print ֆունկցիայից։ Հակառակ դեպքում, պետք է վերադարձնել այն գրքերի մասին 
        ինֆորմացիա, որոնց վերնագրերը նման են title փոփոխականում պահված վերնագրի արժեքին։ Ազատ եք
        որոշելու այս ֆունկցիայի աշխատանքի տրամաբանությունը։
        Որպես հնարավոր տարբերակ (եթե չկան այլ մտքեր) կարող եք վերադարձնել այն գրքերի ինֆորմացին, որոնց
        վերնագրերը պարունակում են title փոփոխամանում տրված բառերից ամենաշատ քանակության բառերը ու եթե չկան
        այդպիսի գրքեր, վերադարձրեք "nothing macthed your search"։ 
        Ուրախ կլինեմ տեսնել այս ֆունկցիայի հետաքրքիր տարբերակներ :)
        """
        pass

In [245]:
l1 = Library(df1)
l1.get_top_5()

Woman Evolve: Break Up with Your Fears and Revolutionize Your Life  by  T. D. Jakes  with rating  5.0  costs  $7.99
------------------------------------------------------
The Women of the Bible Speak: The Wisdom of 16 Women and Their Lessons for Today  by  Voddie T. Baucham Jr.  with rating  4.9  costs  $9.72
------------------------------------------------------
Where the Crawdads Sing  by  Workman Publishing  with rating  4.8  costs  $9.98
------------------------------------------------------
Think and Grow Rich: The Landmark Bestseller Now Revised and Updated for the 21st Century (Think and Grow Rich Series)  by  Walter Isaacson  with rating  4.7  costs  $9.59
------------------------------------------------------
We Were Liars  by  Wonder House Books  with rating  4.6  costs  $9.91

## Task 3.

```
Write a short summary explaining what you have implemented in the 2 Tasks. Don't go too much into details since I can also see your code. Just incorporate some points about interesting decisions or solutions that you have applied. 
```

```
Գրեք Ձեր աշխատանքի փոքրիկ ամփոփում, որտեղ կբացատրեք թե ինչպես եք կատարել առաջադրանքները։ Ամփոփումը պետք է լինի շատ կարճ ու ներառի միայն այս կամ այն լուծում տալու վերաբերյալ որոշ բացատրություններ։ Հարկավոր չէ բացատրել ամեն մի փոքր քայլ։ 
```